// Place all the styles related to the friends controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body
{
background-color:black;
}

.field
{
font-size:25px;
}

.banner
{
text-align:center;
}
p
{
color:white;
}
#mod
{
color:red;
}
#actions
{
color:green;
}
#center
{
text-align:center;
}
